.footer {
  width: 100%;
  min-height: 400px;
  background-color: #212121;
}

.footer-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 80px 50px;
  border-bottom: 1px solid #7B7B7B;
}

.footer-links {
  display: block;
  margin: 18px;
  text-decoration: none;
  color: #7B7B7B;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}

.information-para {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0px;
  color: #7B7B7B;
}

.footer-icon {
  font-size: 20px;
  margin-right: 10px;
}

.footer-links:hover {
  text-decoration: underline;
  color: #F2F2F4;
  transition: 0.5s;
}

.footer-heading {
  font-weight: 600;
  font-size: 17px;
  margin: 15px;
  color: #F2F2F4;
}

.links-box,
.company,
.service {
  text-align: left;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  margin-left: 8%;
  color: #7B7B7B;
}

@media only screen and (max-width: 950px) {
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px 25px;
    margin-top: 20px;
  }

  .footer-main {
    display: block;
    padding: 20px;
  }

  .information-para {
    padding: 15px;
  }
}
