* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-subsectionBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    max-width: 1512px;
    margin: 0 auto;
    height: 250px;
    background-repeat: no-repeat;
    background-position: right 100% bottom 54%;
    object-fit: fill;
    background-image: url('../../../../assets//Jpgs/BannerImage.jpg');

}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.section-two {
    margin-top: .5rem;
    font-weight: 600;
}